/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------------------- */

/*   GLOBAL   */

body {
  font: normal 20px "Arial", Helvetica, Arial, sans-serif;
  color: #45494d;
  background: #ffffff;
}

p {
  line-height: 150%; }

a {
 text-decoration: none;
 color: #50c3af;
}

/*   HEADER   */

body > header {
    background: #3d3d3d;
    color: #ffffff;
    padding: 130px 0 50px 0;
}

body > header h1 {
  font: normal 68px Helvetica, Arial, sans-serif;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding: 0 0 125px 0;
  margin: 0 0 120px 0;
  background: transparent url("logo.png") 50% 100% no-repeat;
}

header ul {
  margin: 0 auto;
  text-align: center;
}

nav a {
  color: #ffffff;
}

nav a.active {
    color: #50c3af;
}

nav a:hover {
  color: #ffcc33;
}

header li {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 25px;
}

nav a,
header h1 a {
  color: #ffffff;
}


/*   MAIN   */

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0 90px 0;
  box-sizing: border-box;
  overflow: hidden;
}

div#content {
  width: 65%;
  float:left;
  overflow: hidden;
  padding: 0 11.5% 0 0;
}

div#sidebar {
  padding: 35px;
  background: #f6f7f8;
  overflow: hidden;
}


h2 {
  font: bold 36px Helvetica, Arial, sans-serif;
  padding: 0 0 20px 0;
}


h3 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 25px 0;
  font-size: 16px;
}

article {
  padding: 0 0 65px 0;
}

article p {
  padding: 0 0 15px;
}

article h2 a {
  color: inherit;
}

article h2 a:hover {
  color: #50c3af;
}

#sidebar ul {
  padding: 0 0 105px 20px;
  font-size: 14px;
}

#sidebar li {
  list-style: url("blt_arrow.png");
  padding: 0 0 5px 0;
}

#sidebar li a { color: #787b80; }
#sidebar li a:hover { color: #50c3af; }

#sidebar p {
  font-size: 14px;
  color: #787b80;
}

.button {
  display: inline-block;
  padding: 5px 25px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 20px;
  background: #50c3af;
  cursor: pointer;
}

.pagination a.disabled {
  cursor: default;
  background: #d2d5da;
}

.pagination a.next {
  margin-left: 25px;
}


/*   FOOTER   */

footer {
  border-top: 1px solid #d0d0d0;
  padding: 15px 0 30px 0;
  color: #7e8287;
  max-width: 1000px;
  margin: 0 auto;
  font: normal 12px Helvetica, Arial, sans-serif;
}

/*   COMMENTS   */

.comments header {
  padding-bottom: 20px;
}

.comments header img {
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 10px 0px 0;
}

.comments header h3 {
  display: inline-block;
  vertical-align: middle;
  font: normal 20px Helvetica, Arial, sans-serif;
  text-transform: none;
  padding-bottom: 0;
}

.comments header a {
  color: #66cc99;
}

.comments article {
  padding: 0 0 30px 0;
}


/*   FORM   */

form dt {
  padding: 0 0 5px 0;
  font-weight: bold;
}

form dd {
  padding: 0 0 15px 0;
}

input[type="text"],
input[type="email"],
textarea {
  width: 450px;
  height: 38px;
  padding: 5px 10px;
  border-radius: 4px;
  font: normal 15px Helvetica, Arial, sans-serif;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 140px;
  resize: none;
}

input[type="submit"].button {
  border: none;
  cursor: pointer;
  font:normal 15px "Avenir", Helvetica, Arial, sans-serif;
}

/*   BREAKPOINTS   */

@media (max-width: 768px) {

  body > header {
    padding: 40px 0 28px 0;
  }

  body > header h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

}

@media (max-width: 600px) {

div#content {
  float: none;
  width: auto;
  padding: 0 26px 50px 26px;
}

#sidebar ul {
  padding-bottom: 0;
} 

#sidebar .block {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

}

@media (max-width: 480px) {

  body > header {
    padding: 40px 0 0 0;
  }


  body > header h1 {
    background-size: 90% auto;
    padding: 0 0 90px 0;
    margin: 0 0 50px 0;
  }

  nav li {
    display: inline-block;
    padding: 10px 0;
    width: 49%;
    box-sizing: border-box;
  }

  div#sidebar {
    background: transparent;
    padding: 0 25px;
  }

  #sidebar .block {
    background: #f6f7f8;
    width: auto;
    display: block;
    margin: 0 0 25px 0;
    padding: 20px;
    box-sizing: border-box;
  }

}